<header>
  <h1>
Welcome to Sweety, <%= current_user.email %></h1>
<h2>
  <% report = current_user.daily_average %>
Today's Average Reading for you is <%= report['average'] %> </h2>
</header>
<section>
<p>
    Future home of Sweety's Dashboard
  </p>
</section>
