@import "bootstrap-sprockets";
@import "bootstrap";

/* my general 'stay within the lines' styling */
body {
  padding-top: 90px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}