<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    Sweety
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Record Blood Sugar",   record_path %></li>
        <li><%= link_to "Reports",   reports_path %></li>
      </ul>
    </nav>
  </div>
</header>